# Database
POSTGRES_USER=task_reloader
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=task_reloader

# API
SPRING_DATASOURCE_USERNAME=task_reloader
SPRING_DATASOURCE_PASSWORD=change_me_in_production

